<div class="bg-light border-right" id="sidebar-wrapper" th:fragment="sidenav">
    <div class="list-group list-group-flush">
        <div class="sidebar-heading"><strong>Menu</strong></div>
        <a class="list-group-item list-group-item-action bg-light" href="/">
            Explore
        </a>
        <div th:if="${#request.isUserInRole('EMPLOYEE')}">
            <a class="list-group-item list-group-item-action bg-light"
               href="/employee/create-rental">
                Create rental
            </a>
            <a class="list-group-item list-group-item-action bg-light"
               href="/employee/running-rentals">
                Running rentals
            </a>
        </div>
    </div>
</div>
