<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="/fragments/shared/head"></head>
<body>
<div class="d-flex" id="wrapper">
    <div th:replace="/fragments/shared/sidenav"></div>
    <div id="page-content-wrapper">
        <nav th:replace="/fragments/shared/topnav"></nav>
        <div class="container-fluid">
            <div layout:fragment="content"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {
        let item = sessionStorage.getItem("closed");
        $("#wrapper").addClass(item ? item === "true" ? "closed" : "open" : "");
    });
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("closed");
        sessionStorage.setItem("closed", $(wrapper).hasClass("closed"));
    });
</script>
</body>
</html>